.modal-body {
  padding: 20px;
  max-height: 85vh;
  overflow-y: auto;
}

.pdf-controls {
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.pdf-preview-container {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #f8f9fa;
  height: 80vh;
}

button {
  display: flex;
  align-items: center;
  gap: 5px;
  
  i {
    font-size: 1.1rem;
  }
}